.section {
  padding: 6rem 0 2rem;
}
.home__content {
  grid-template-columns: 120px repeat(2, 1fr);
  padding-top: 5.5rem;
  column-gap: 2rem;
  align-items: center;
  align-content: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
  width: auto;
  height: auto;
}

.home__social-icon {
  font-size: 2rem;
  color: black;
  &:hover {
    color: var(--secondary-color);
  }
}

.home__title {
  font-size: 3.5rem;
  margin-bottom: 0.25rem;
}

.home__subtitle {
  position: relative;
  font-size: 1.25;
  color: var(--secondary-color);
  font-weight: 200;
  margin-bottom: 1rem;
  span {
    color: var(--black-color);
  }
}

.home__description {
  max-width: 400px;
  margin-bottom: 3rem;
  color: #262626;
}

.home__img {
  max-width: 100%;
  background: url(../../assets/profile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 9px rgba(255, 0, 0, 0);
  order: 1;
  justify-self: center;
  width: 300px;
  height: 300px;
  animation: profile__animate 8s ease-in-out infinite 1s;
}

a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .home__content {
    grid-template-columns: 100px repeat(2, 1fr);
    column-gap: 1.25rem;
  }
  .home__title {
    font-size: 2rem;
  }
  .home__subtitle {
    margin-bottom: 1rem;
    @media (orientation: portrait) {
      text-align: center;
    }
  }
  .home__description {
    max-width: initial;
    margin-bottom: 2.5rem;
  }
  .home__img {
    width: 250px;
    height: 250px;
    box-shadow: inset 0 0 0 8px rgba(255, 0, 0, 0);
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 2rem 0 2rem;
  }
  .home__content {
    grid-template-columns: 1fr;
    padding-top: 2rem;
    margin: 40px 2px;
  }
  .home__img {
    order: 1;
    justify-items: center;
    width: 250px;
    height: 250px;

    box-shadow: inset 0 0 0 6px rgba(255, 0, 0, 0);
  }
  .home__social {
    order: 2;
    justify-content: center;
    display: flex;
    column-gap: 1.5rem;
  }
  .home__data {
    order: 3;
    padding: 0 10px;
  }
  .home__title {
    text-align: center;
    font-size: 1.8rem;
  }
  .home__subtitle {
    font-size: 1.25;
  }
}

@media screen and (max-width: 350px) {
  .home__img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (min-width: 1368px) {
  .home__content {
    margin-top: 10rem;
  }
}
