.footer {
  background-color: black;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
span {
  color: #ee0000;
}

.footer__container {
  padding: 3rem 0 4rem;
  align-content: center;
}

.footer__title,
.footer__link {
  color: white;
}

.footer__title {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 200;
  margin-bottom: 2rem;
}

.footer__link:hover {
  color: var(--secondary-color);
}

.footer__list {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}
.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.3rem;
}

.footer__social-link {
  font-size: 1.5rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: inline-flex;
}

.footer__social-link:hover {
  color: var(--secondary-color);
}

.footer__copyright {
  display: block;
  color: white;
  margin-top: 4rem;
  text-align: center;
  font-size: var(--smaller-font-size);
}

@media screen and (max-width: 992px) {
  .footer__title {
    font-size: 1.25rem;
  }
  .footer__social-link {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1.5rem;
  }
}
